# Regresión logística
---

In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [87]:
path = "data/Social_Network_Ads.csv"
df = pd.read_csv(path)


#df = df.drop(["Gender"], axis = 1)
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [73]:
df.describe()

            User ID  EstimatedSalary   Purchased
count  4.000000e+02       400.000000  400.000000
mean   1.569154e+07     69742.500000    0.357500
std    7.165832e+04     34096.960282    0.479864
min    1.556669e+07     15000.000000    0.000000
25%    1.562676e+07     43000.000000    0.000000
50%    1.569434e+07     70000.000000    0.000000
75%    1.575036e+07     88000.000000    1.000000
max    1.581524e+07    150000.000000    1.000000

In [74]:
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()
x = (df.Gender.values) 
enc.fit(x)

z = enc.transform(x)
df.Gender = z
df.head()

    User ID  Gender  EstimatedSalary  Purchased
0  15624510       1            19000          0
1  15810944       1            20000          0
2  15668575       0            43000          0
3  15603246       0            57000          0
4  15804002       1            76000          0

In [81]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.2, random_state=33)


X_train = df_train.drop(["Purchased"], axis=1)
y_train = df_train.Purchased

X_test = df_test.drop(["Purchased"], axis=1)
y_test = df_test.Purchased

print("Entrenamiento: " + str(df_train.shape[0]))
print("Test: " + str(df_test.shape[0]))
X_train.head()

Entrenamiento: 320
Test: 80

      User ID  Age  EstimatedSalary
335  15601550   36            54000
359  15709183   42            54000
288  15649668   41            79000
35   15713144   35            27000
278  15613014   52            38000

In [82]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
X_test.shape

(80, 3)

### 5: Carga la libreria de sklearn que permite entrenar una regresión logística.
[Documentación](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html)
Instanciamos el modelo bajo el nombre `clf_lr`

In [83]:
from sklearn.linear_model import LogisticRegression

clf_lr = LogisticRegression(solver="liblinear") # Esta sentencia nos crea un clasificador logístico

### 6: Entrenamos el modelo y lo evaluamos

In [84]:
# Esta sentencia entrena el clasificador con nuestro conjunto de entrenamiento
clf_lr.fit(X_train, y_train)
# Como resultado vemos los diferentes parámetreos del método
# Vamos a comentar: C, random_state

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [85]:
clf_lr.score(X_test, y_test)

0.85

In [86]:
y_predict = clf_lr.predict(X_test)
print(y_test.values)
print(y_predict)

[1 0 1 0 0 0 1 0 1 0 0 1 0 1 0 1 1 1 1 0 1 0 0 1 0 0 0 1 0 1 1 1 1 1 1 0 1
 0 0 0 0 1 1 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 0 1 0 0 0 1
 0 0 1 0 0 1]
[1 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0 1 1 0 1 0 0 1 0 0 0 0 0 1 1 1 1 1 1 1 1
 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 1]